/* Mobile */
.main {
  display: flex;
  flex-direction: column;
  padding: 80px 200px;
  justify-content: space-between;
  gap: 40px;
}

.containerAddTask{
  display: flex;
  justify-content: space-between;
}

.containerAddTask > div {
  height: 40px;
  width: 90%;
  border-bottom: 1px solid black;
}

.containerAddTask > div > input{
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  font-size: 16px;
}

.containerAddTask > button{
  background-color: #156FDC;
  padding: 8px 8px;
  border-radius: 5px;
}

.containerTasks{
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 20px;
}